<a href="https://colab.research.google.com/github/indu79533/Indusri/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
sum=a+b+c
print ("Sum:",sum)

Sum: 30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x=10
print(type(x))
y=10.5
print(type(y))
z="rishi"
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=int(input("Enter value of number"))
b=int(input("Enter value of number"))
print ("Addition:",a+b)
print ("Subtraction:",a-b)
print ("Multiplication:",a*b)
print ("Division:",a/b)

Enter value of number10
Enter value of number5
Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
String = "123"
print (int(String))
print (float(String))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
String=input ("Enter the String")
print (String [0])

Enter the StringINDUSRI
I

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
String=input ("Enter the string:")
print(len(String))

Enter the string:Engineering
12

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
String=input ("Enter the string:")
print(String.isalpha())

Enter the string:Abcd
True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
String1=input ("Enter the string:")
String2=input ("Enter the string:")
print (String1+String2)

Enter the string:Indu
Enter the string:Sri
InduSri

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
sting="abc"
index=sting.find("abc")
if index != -1:
    print("the substring 'abc' is found in index", index)

the substring 'abc' is found in index 0

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
string=input("enter the string")
print(string.lower())
print(string.upper())

enter the stringindusri
indusri
INDUSRI

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
String= input("Enter the string :")
char=input("Enter the character :")
print(String.count(char))

Enter the string :helloworld
Enter the character :o
2

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
username=input("Enter the username :")
print("Hello,", username, ", Good Morning!")

Enter the username :Indu
Hello, Indu , Good Morning!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.num1= int(input("Enter first number: "))
num1= int(input("Enter first number: "))
num2= int(input("Enter second number: "))
sum=num1+num2
print("Sum is :",sum)

Enter first number: 2
Enter second number: 9
Sum is : 11

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("Enter the name :")
age=input("Enter the age :")
print("My name is",name,".Iam",age,"years old")

Enter the name :Indu
Enter the age :19
My name is Indu .Iam 19 years old

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 0
Zero

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = int(input("Enter the number:"))
num2 = int(input("Enter the number:"))
num3 = int(input("Enter the number:"))
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3
print("The largest number is", largest)

Enter the number:10
Enter the number:9
Enter the number:20
The largest number is 20

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2005
2005 is not a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
lower = int(input("Enter lower range limit:"))
upper = int(input("Enter upper range limit:"))
for i in range(lower, upper+1):
   if((i%3==0) & (i%5==0)):
      print(i)

Enter lower range limit:0
Enter upper range limit:17
0
15

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
my_str = 'madam'
my_str =my_str.casefold()
rev_str = reversed(my_str)
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
print("print intergers 1 to 10")
for i in range(1,11):
    print(i)

print intergers 1 to 10
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
input = 1
print("print integers 1 to 20")
while input <= 20:
    print(input)
    input += 1

print integers 1 to 20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num = int(input("Display multiplication table of? "))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Display multiplication table of? 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
N = int(input("enter the value of N:"))
count = N
total = 0
while count:
  total += count
  count -= 1
print("the sum of the first", N, "natural numbers is:", total)

enter the value of N:9
the sum of the first 9 natural numbers is: 45

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
    factorial = factorial * i
    i = i + 1
print("The factorial of", num, "is", factorial)

Enter a number: 6
The factorial of 6 is 720

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 7
Fibonacci sequence:
0
1
1
2
3
5
8

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
lower = 1
upper = 100
print("Prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
numbers = [10, 20, 15, 50, 35, 89, 100, 51]
for num in  numbers:
  if num > 50:
    break
  print(num)

10
20
15
50
35

In [ ]:
 # Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
 for num in range(1, 21):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Please Enter your Own String : ")
char = input("Please Enter your Own Character : ")
count = 0
for i in range(len(string)):
    if(string[i] == char):
        count = count + 1
        print("The total Number of Times ", char, " has Occurred = " , count)

Please Enter your Own String : indusri
Please Enter your Own Character : s
The total Number of Times  s  has Occurred =  1

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
num = int(input("Enter a number: "))
sum = 0
while num > 0:
    digit = num % 10
    sum += digit
    num //= 10
print("The sum of digits is:", sum)

Enter a number: 789
The sum of digits is: 24

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
 a = [10, 20, 30, 40]
res = 0
for val in a:
    res += val

print(res)

100

In [ ]:
# Write a Python program to find the largest element in a list.
a = [10, 24, 76, 23, 12, 125]

# Max() will return the largest in 'a'
largest = max(a)
print(largest)

125

In [ ]:
# Write a Python program to reverse a list.
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a.reverse()
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
a = [10, 20, 10, 30, 10, 40, 10, 50, 56, 80, 76]
while 10 in a:
    a.remove(10)
print(a)

[20, 30, 40, 50, 56, 80, 76]

In [ ]:
# Write a Python program to find the index of an element in a list.
Animals= ["cat", "dog", "tiger","lion","puppy"]
print(Animals.index("lion"))

3

In [ ]:
# Write a Python program to find if a specific element exists in a list.
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
if 9 in a:
    print("9 is present in the list")
else:
    print("9 is not present in the list")

9 is not present in the list

In [ ]:
# Write a Python program to remove duplicates from a list.
a = [10, 20, 30, 20, 10, 50, 60, 40, 80,]
a = list(dict.fromkeys(a))
print(a)

[10, 20, 30, 50, 60, 40, 80]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
a = [10, 20, 30, 20, 10, 50, 60, 40, 80, 20]
print(a.count(20))

3

In [ ]:
# Write a Python program to get the number of even numbers in a list.
list1 = [10, 21, 4, 45, 66, 93, 1]
even_count, odd_count = 0, 0
for num in list1:
	if num % 2 == 0:
		even_count += 1
	else:
		odd_count += 1
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [ ]:
# Write a Python program to create a tuple and print it.
a = (10, 20, 30, 40, 50)
print(a)

(10, 20, 30, 40, 50)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (1, 2, 3)
my_list = list(my_tuple)

print(my_list)

my_list = [4, 5, 6]
my_tuple = tuple(my_list)

print(my_tuple)

[1, 2, 3]
(4, 5, 6)

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple
test_tup = (5, 20, 3, 7, 6, 8)
print("The original tuple is : " + str(test_tup))
K = 2
res = []
test_tup = list(sorted(test_tup))

for idx, val in enumerate(test_tup):
	if idx < K or idx >= len(test_tup) - K:
		res.append(val)
res = tuple(res)

print("The extracted values : " + str(res))

The original tuple is : (5, 20, 3, 7, 6, 8)
The extracted values : (3, 5, 8, 20)

In [2]:
# Write a Python program to unpack a tuple into variables.
my_tuple = ("Indu", 19, "Student", "Hyderabad", "India")
name, age, profession, *details = my_tuple
print("Name:", name)
print("Age:", age)
print("Profession:", profession)
print("Details:", details)

Name: Indu
Age: 19
Profession: Student
Details: ['Hyderabad', 'India']

In [5]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1, 2, 3}
my_set.add(4)
if 5 in my_set:
    print("5 is in the set")
else:
    print("5 is not in the set")

5 is not in the set

In [6]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [4]:
# Write a Python program to access a dictionary value using a key.
dict = {
"country" : "India",
"continent" : "Asia",
"Other_name" : "Bharat"
}
x = dict["continent"]
y = dict.get("country")
print(x)
print(y)

Asia
India

In [7]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3}
if 'b' in my_dict:
    print("Key 'b' exists in the dictionary")
    print(my_dict['b'])
else:
    print("Key 'b' does not exist in the dictionary")

Key 'b' exists in the dictionary
2

In [8]:
# Write a Python program to merge two dictionaries.
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}

print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

In [10]:
# Write a Python program to remove a key from a dictionary.
my_dict = {"name": "Indu", "age": 19, "city": "Hyderabad"}
my_dict.pop("city")
print(my_dict)

{'name': 'Indu', 'age': 19}

In [11]:
# Write a Python program to get the number of keys in a dictionary.
my_dict =  {"name": "Indu", "age": 19, "city": "Hyderabad"}
num_keys = len(my_dict.keys())
print("Number of keys:", num_keys)

Number of keys: 3

In [13]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {'a': 10, 'b': 5, 'c': 20, 'd': 15}
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())
print("Largest value:", largest_value)
print("Smallest value:", smallest_value)

Largest value: 20
Smallest value: 5

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`